body{
	margin-left: 30%;
	margin-right: 30% ;
	text-align: center ; 
}

#plateau{
	
	height: 400px ;
	border: solid black 1px ; 
	text-align: center ; 
}

#texteAffiche{
	margin-top: 30% ;
	margin-bottom: 30% ;
}